# MongoDB Configuration
MONGO_URI=mongodb://admin:password123@localhost:27017/donations?authSource=admin

# AWS Configuration
AWS_REGION=us-east-2

# SQS Configuration (valores reais)
SQS_QUEUE_URL=https://sqs.us-east-2.amazonaws.com/712415269923/poc-donation

# Environment
NODE_ENV=development
